body{
margin: 2%;
}

table{
width:100%;
border-collapse: collapse;
}
td,th {

border: 1px solid #ddd;
padding: 8px;
text-align:left;
	}
tr:nth-child(even){background-color: Khaki ;}
/*tr:hover {background-color: #ddd;}*/
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.row > div {
border: 1px solid #ddd;
background-color: light-blue;


}

.csstables {
table-layout:fixed;

}
/*
.csstabletd {
width : 50px;
text-align: center;}

#csstabletd {
width : 50px;
text-align: center;}
*/
#title{
text-align: center;
background-color:OliveDrab ;

}
#menu{
background-color:YellowGreen  ;

}
#title2{
text-align: center;
background-color:DarkKhaki  ;

}

#main{
background-color:LightGoldenRodYellow  ;
border: 0;

}

@media print{
	.screen-only{
	display: none;
}}
@media (max-width: 499px){
	body{background-color:LightCyan;}
}
@media (min-width: 500px){
	body{background-color:LightBlue;}
}
